workflows/sports-betting-agent.json
{
  "name": "Sports Betting Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        -160
      ],
      "id": "bf9aa9e1-e5db-485e-9335-524bff28658d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://site.api.espn.com/apis/site/v2/sports/basketball/nba/scoreboard",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -160
      ],
      "id": "a894e4ee-d892-4fe8-b87e-284ec799f9d1",
      "name": "GET ESPN NBA Data"
    },
    {
      "parameters": {
        "chatId": "7560948440",
        "text": "={{ $node[\"Ods Assistant\"].json.message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        144
      ],
      "id": "d0819479-baca-40e7-b731-e49b34d72a00",
      "name": "Chat Sending",
      "webhookId": "3f081625-bd81-4f56-b9c1-64935d57e88d",
      "credentials": {
        "telegramApi": {
          "id": "UKWAcr0632Z7XCxD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        -336
      ],
      "id": "b539235f-d1aa-4621-9597-7ce814632ed3",
      "name": "GET ODSJAM Data",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat",
        "chatId": "7560948440"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        144
      ],
      "id": "1e2b102b-25d4-405f-83bc-9abadeca9606",
      "name": "Telegram Connector",
      "webhookId": "cffb86cd-ed8e-4c99-99bc-2f22b54c7f46",
      "credentials": {
        "telegramApi": {
          "id": "UKWAcr0632Z7XCxD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json; // OddsJam API response\nlet message = '🔥 Best Player Prop Bets:\\n\\n';\n\ndata.forEach(prop => {\n  // Customize these fields based on the actual API response keys\n  const player = prop.player_name ?? 'Unknown';\n  const bet = prop.market_name ?? 'Unknown Prop';\n  const odds = prop.odds ?? 'N/A';\n  const book = prop.sportsbook ?? 'Unknown Book';\n\n  message += `- 🏀 ${player}: ${bet} at ${odds} (${book})\\n`;\n});\n\nreturn [{ json: { message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -336
      ],
      "id": "8651e42f-ba13-4118-b51d-c27635c88105",
      "name": "ODSJAM Code",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional sports betting analyst. Your job is to analyze a list of games with their moneyline odds and categorize only one team per game into one of the following:\n\nSafe Bets – Strong favorites with high implied win probability.\n\nBest Value Bets – Teams that offer good value: solid win chance + fair odds.\n\nLong Shots – Underdogs with a non-negligible chance of pulling off an upset.\n\nImportant Rule: Choose only one team per game. Do not pick both teams from the same game in any category.\n\nThen create 2–3 suggested parlays using picks from different games (avoid including teams from the same matchup in one parlay).\n\nThere can be more than one per category.\n\nRespond in this format:\n\nSafe Bets:\n\n\nBest Value Bets:\n\n\nLong Shots:\n\n\nParlays:\n\n2-Leg Parlays: [Team A], [Team B]\n\n3-Leg Parlays: [Team C], [Team D], [Team E]\n\nHere are today’s games and odds:\n\n{{ $json.message }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        240,
        144
      ],
      "id": "f41497a1-d3a0-4729-825a-0a4800a5891f",
      "name": "Ods Assistant",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "4gxce0ijgx8rQeQG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DASHBOARD_API_URL || 'http://localhost:3000/api/predictions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"title\":\"Daily Sports Predictions\",\"league\":\"NBA + MLB\",\"rawMessage\":$node[\"Ods Assistant\"].json.message.content}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        424,
        320
      ],
      "id": "2b27957f-fb54-4d6d-87b2-9e4e02c8f411",
      "name": "POST Dashboard Prediction"
    },
    {
      "parameters": {
        "url": "https://api.the-odds-api.com/v4/sports/icehockey_nhl/odds/?regions=us&markets=h2h&apiKey=a4e3830d3908ce37644272e68ffd4c8e",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        -176
      ],
      "id": "090998d4-3516-4870-9fcf-3602e8434ee2",
      "name": "NHL",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.the-odds-api.com/v4/sports/baseball_mlb/odds/?regions=us&markets=h2h&apiKey=a4e3830d3908ce37644272e68ffd4c8e",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -160
      ],
      "id": "45078835-2aa6-4f02-a3f7-de0a5d3ad89d",
      "name": "MLB",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.the-odds-api.com/v4/sports/basketball_nba/odds/?regions=us&markets=h2h&apiKey=a4e3830d3908ce37644272e68ffd4c8e",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -160
      ],
      "id": "837204af-5d11-4780-b3a7-102ecfca1037",
      "name": "GET APIODS NBA"
    },
    {
      "parameters": {
        "jsCode": "function moneylineToProb(odds) {\n  if (typeof odds !== \"number\") return null;\n  return odds < 0 ? -odds / (-odds + 100) : 100 / (odds + 100);\n}\n\nfunction avg(nums) {\n  if (!nums.length) return null;\n  return nums.reduce((a, b) => a + b, 0) / nums.length;\n}\n\nconst allowedSports = [\"basketball_nba\", \"baseball_mlb\"];\nconst rows = [];\n\nfor (const item of items) {\n  const games = Array.isArray(item.json) ? item.json : [item.json];\n\n  for (const game of games) {\n    const sport = game.sport_key ?? \"\";\n    if (!allowedSports.some((k) => sport.includes(k))) continue;\n\n    const home = game.home_team ?? \"Unknown\";\n    const away = game.away_team ?? \"Unknown\";\n\n    const teamOdds = new Map();\n    for (const book of game.bookmakers ?? []) {\n      const h2h = book.markets?.find((m) => m.key === \"h2h\");\n      if (!h2h?.outcomes) continue;\n      for (const o of h2h.outcomes) {\n        if (typeof o.price !== \"number\") continue;\n        if (!teamOdds.has(o.name)) teamOdds.set(o.name, []);\n        teamOdds.get(o.name).push(o.price);\n      }\n    }\n\n    const teams = [home, away].filter(Boolean);\n    const enriched = teams.map((team) => {\n      const prices = teamOdds.get(team) ?? [];\n      const avgOdds = avg(prices);\n      const implied = moneylineToProb(avgOdds);\n      return {\n        team,\n        avgOdds: avgOdds ?? null,\n        impliedProb: implied ?? null\n      };\n    });\n\n    if (enriched.length !== 2) continue;\n    if (enriched.some((t) => t.impliedProb == null)) continue;\n\n    const [a, b] = enriched;\n    const edgeA = a.impliedProb - b.impliedProb;\n    const edgeB = b.impliedProb - a.impliedProb;\n\n    rows.push({\n      sport,\n      matchup: `${away} @ ${home}`,\n      teams: [\n        {\n          name: a.team,\n          avgMoneyline: a.avgOdds,\n          impliedWinPct: +(a.impliedProb * 100).toFixed(1),\n          modelEdgePct: +(edgeA * 100).toFixed(1)\n        },\n        {\n          name: b.team,\n          avgMoneyline: b.avgOdds,\n          impliedWinPct: +(b.impliedProb * 100).toFixed(1),\n          modelEdgePct: +(edgeB * 100).toFixed(1)\n        }\n      ]\n    });\n  }\n}\n\nif (!rows.length) {\n  return [{ json: { message: \"No NBA or MLB games available right now.\", games: [] } }];\n}\n\nconst lines = rows.map((g) => {\n  const t1 = g.teams[0];\n  const t2 = g.teams[1];\n  return [\n    `${g.matchup} (${g.sport})`,\n    `- ${t1.name}: ML ${t1.avgMoneyline}, implied ${t1.impliedWinPct}%`,\n    `- ${t2.name}: ML ${t2.avgMoneyline}, implied ${t2.impliedWinPct}%`\n  ].join(\"\\\\n\");\n});\n\nreturn [\n  {\n    json: {\n      games: rows,\n      message: lines.join(\"\\\\n\\\\n\")\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        144
      ],
      "id": "1e274a86-0783-4157-930b-286a23056be5",
      "name": "KnowsPython"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET ESPN NBA Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET ESPN NBA Data": {
      "main": [
        [
          {
            "node": "GET APIODS NBA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET ODSJAM Data": {
      "main": [
        [
          {
            "node": "ODSJAM Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Connector": {
      "main": [
        [
          {
            "node": "Chat Sending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Sending": {
      "main": [
        []
      ]
    },
    "ODSJAM Code": {
      "main": [
        []
      ]
    },
    "Ods Assistant": {
      "main": [
        [
          {
            "node": "Telegram Connector",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST Dashboard Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Dashboard Prediction": {
      "main": [
        []
      ]
    },
    "NHL": {
      "main": [
        []
      ]
    },
    "MLB": {
      "main": [
        [
          {
            "node": "KnowsPython",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET APIODS NBA": {
      "main": [
        [
          {
            "node": "MLB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KnowsPython": {
      "main": [
        [
          {
            "node": "Ods Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15421c9e-2ba8-4a87-8d14-70043b7b00ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56570b6cf7ddabc142a510497a738bc65c3f409af7af763a83b99d715f44cada"
  },
  "id": "tOvSOcXjrd9yvUkn",
  "tags": []
}